
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    background-image: linear-gradient(white, lightgray);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

:root {
 --bodytext: #444;
 --lightblue:#25CCF7; 
 --darkgray:#2C3A47;
 --sandstone:#F8EFBA;
 --text-color: #333;
 --floral-white: #f5f1e8;
 --roman-silver: #878a98;
 --space-cadet: #1c254a;
 --space-cadet-light: #5b63be;
 --body-font: "Inter", sans-serif;
 --heading-font: "Playfair Display", serif;
}

body {
    font-family:'Source Sans Pro', sans-serif;
    color: var(--bodytext);
    line-height: 2em;
    margin: 0;
    display: flex;
    flex-direction: column;
 
}

.hero-image {
    position: relative;
    width: 100vw;
    height: auto;
    margin-left:auto;
    margin-right:auto;
    transition: opacity 300ms ease
}

.hero-image .overlay-title {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content:center;
  opacity: 0;
  transition: opacity 300ms ease;
}

.hero-image:hover {
  background: lightslategray;
  opacity: .75;
}

.overlay-title:hover {
  opacity: 1;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;

}

.overlay-title {
  position: absolute;
  font-size: 3rem;
  color: white;
  display: flex;
}

a {
  color: darkcyan;
  transition: background-color .5s ;
}

a:hover {
  background-color: rgb(253, 237, 95);
  font-size: 1.5rem;
}

/*main menu paste */

.main-menu .menu-icon {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  width: 60px;
  height: 60px;
  background-color: blue;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
}

.main-menu svg {
  stroke: ivory;
  stroke-width: 4px;
  stroke-linecap: round;
  padding: 12px;
}

.main-menu svg line {
  transform-origin: center;
  transition: transform 200ms ease;
}

.main-menu svg line:first-child {
  transform: translateY(8px);
}

.main-menu svg line:last-child {
  transform: translateY(-8px);
}

.menu-show .menu-icon {
  background-color: rgb(253, 237, 95);
}

.menu-show svg line {
  stroke: black;
  stroke-width: 5px;
}

.menu-show svg line:first-child {
  transform: rotate(135deg);
}

.menu-show svg line:last-child {
  transform: rotate(-135deg);
}

/*end main menu */

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;

  background-color: var(--space-cadet);

  transform: translateX(-100vw);
  transition: transform 400ms;
}

.menu-show nav {
  transform: translateX(0);
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  max-width: 80rem;
}

nav a {
  display: block;
  padding: 1rem;
  font-size: 1.4rem;
  color: var(--floral-white)
}

nav a:not([href]) {
  color: var(--roman-silver);
}

nav a[href]:hover {
  color: var(--space-cadet-light);
}

END STUFF

.about-nav {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.form-nav {
  display: flex;
  flex-direction: row;
  gap: 5rem;

}

.portrait {
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right:auto;
}

main {
    padding: 1rem;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    align-self: center;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-color:lightslategray;
  width: 100vw; 
}

.kadenlstephen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

h1 {
    font-family:'DM Sans', sans-serif;
    color: var(--darkgray);
    font-size: 60px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

h2 {
    font-family:'DM Sans', sans-serif;
    color: var(--darkgray)
}
h3 {
    font-family:'DM Sans', sans-serif;
    color: var(--darkgray)
}

.button {
  font-size: 16px;
  font-weight: 200;
  color: white;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:after {
  content: "";
  background-color: rgb(43, 137, 192);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button:hover:after {
  top: 0px;
  left: 0px;
}

.panel {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.panel .text-wrapper1 {
  flex: 0 1 50%;

}
.panel .image-wrapper {
  flex: 0 1 50%;
  order: 0;
  max-width: 30rem;
  padding: 3rem;

}
.panel h2 h3 {
  margin-top: 0;

}
.panel .left {
  order: 1;
}

.non-main {
    padding: 1rem;
}
  
  a {
    text-decoration: none;
    cursor: pointer;
  }
  
  .cards {
    display: flex;
    gap: 30px;
    width: 60rem;
    height: auto;
    justify-content: center;
    flex-direction: row;

  }

  .cards p {
    margin: 0;

  }

  .card {
    position: relative;
    transition-duration: 1000ms;
    transition-property: all;

  }

  .card:hover {
    background: var(--lightblue);
    transform: rotate(8deg)
    
  }
  
  .cards .card-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(34, 171, 250);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 300ms ease;
  }
  
  .cards p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    margin-top: 0.25rem;
    font-size: 2rem;
  }
  
  .cards .card-overlay:hover {
    opacity: .75;
  }
  
.svg-logo {
     stroke: blue;
     stroke-width: 5;
    stroke-linecap:round 
}

.svg-phone {
    height: 18px;
    width: 18px;
}

.loader {
  margin: auto;
  border: 20px solid #EAF0F6;
  border-radius: 50%;
  border-top: 20px solid #FF7A59;
  width: 200px;
  height: 200px;
  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }

}

@media (max-width: 1023px ) {
  .cards {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
  }
  .card {
    flex: 1 1 40%; 
    width: 200px;
   
  }


}

@media (max-width: 767px) {
  .cards {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: auto;
    }
  body {
    font-size: .75rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }

  .overlay-title {
    font-size: 2rem;
  }

  .text-overlay {
    font-size: 2rem;
    align-items: center;
    justify-content: center;
  }

  .button {
    padding: 13px 50px 13px;
  }

  .panel {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .panel h2 h3 {
    margin-top: 0;
  
  }
  .panel .image-wrapper {
    order: 1;
    width: 400px;
    display: flex;
  
  }

  
}


@media (min-width: 601px) {

/* main menu css */ 
  .main-menu .menu-icon {
    display: none;
  }

  /* copied nav css */
  nav {
    position: static;
    display: block;
    transform: none;
    transition: none;
    background-color: transparent;
    margin: 2rem 1.5rem  6rem;
  }

nav ul {
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 80rem;

}

nav a {
  display: block;
  padding: 1rem;
  font-size: 1.4rem;
  color: var(--space-cadet);
}

nav a:not([href]) {
  color: var(--roman-silver);
}

nav a::after {
  content: "";
  display: block;
  width: calc(100% + 12px);
  height: 3px;
  margin-left: -6px;
  margin-top: 6px;
  background-color: var(--space-cadet-light);
  transform: scale(0);
  transition: transform 200ms ease-in, color 300ms ease-in;
  transform-origin: right;
}

nav a[href]:hover {
  color: var(--space-cadet-light);
}

nav a[href]:hover::after {
  transform: scale(1);
  transform-origin: left;
}

   
}






            